$primary-color: rgb(230, 190, 13);
//***************** color ******************** 
    .bg-primary{
        background:$primary-color !important;
    }
    .bg-secondary{
        background: rgba(238, 238, 238, 0.63) !important;
    }
    .rounded{
        border-radius: 15px !important;
    }
    .border-bottom{
        border-bottom: 0.6em solid $primary-color !important;
    }

    // .pprofil{
    //     width:150px !important;
    //     border: 0.3em solid red !important;
    // }
    .row1{
        height: 50vh;
    }

.contact{
    position: relative;
    margin-bottom: -7%;
}
.adress, .foot{
    padding-top: 10%;
    font-size: x-large;
    font-weight: bold;
}
.pprofil{
        width:250px;
        border: 0.3em solid $primary-color !important;
        border-radius: 10%;
}
@media (max-width: 767.98px){
    .pprofil{
        width:150px;
        border: 0.3em solid $primary-color !important;
        border-radius: 10%;
    }
    .row1{
        height: 70vh;
    }
    h1{
        font-size: 2em !important;
        font-weight: bold;
    }
    h4{
        font-size: 0.6em !important;
        font-weight: bold;
    }
    .competence{
        i{
            padding: 5% !important;
            margin-right: -5%;
        }
    }
    .progression{
        font-size: 2em !important;
        font-weight: 300 !important;
        margin: 20px 20px;
    }
}
hr{
    height: 0.15em !important;
}


.competence{
    i{
        padding: 5% !important;
        margin-right: -5%;
    }
}